[Unit]
Description=Start Host%i Minimum
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=mapper-wait@-org-openbmc-control-chassis%i.service
After=mapper-wait@-org-openbmc-control-chassis%i.service
Conflicts=obmc-host-stop@%i.target
RefuseManualStop=yes
OnFailure=obmc-host-quiesce@%i.target
OnFailureJobMode=flush
