[Unit]
Description=Host%i (Stopping)
Wants={SYSTEMD_DEFAULT_TARGET}
Wants=obmc-host-stop-pre@%i.target
After=obmc-host-stop-pre@%i.target
Before=obmc-host-stopped@%i.target
Conflicts=obmc-host-startmin@%i.target
Conflicts=obmc-host-starting@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
