[Unit]
Description=Chassis%i (Reset Check)
Conflicts=obmc-chassis-poweroff@%i.target
RefuseManualStop=yes

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
