[Unit]
Description=Stop Host%i
Wants=multi-user.target
After=multi-user.target
After=obmc-chassis-poweroff@%i.target
Conflicts=obmc-host-startmin@%i.target
RefuseManualStop=yes
OnFailure=obmc-chassis-poweroff@%i.target
OnFailureJobMode=flush
