[Unit]
Description=Power%i (Off)
Wants={SYSTEMD_DEFAULT_TARGET}
After=obmc-power-stop@%i.target
Conflicts=obmc-chassis-poweron@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
