[Unit]
Description=Save iptable rules
DefaultDependencies=no
After=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c "iptables-save > /etc/iptables/iptables.rules"

[Install]
WantedBy=shutdown.target
