[Unit]
Description=Phosphor BMC Code Update
Wants=mapper-wait@-org-openbmc-managers-Download.service
After=mapper-wait@-org-openbmc-managers-Download.service

[Service]
Restart=always
ExecStart=/usr/bin/env bmc_update.py
SyslogIdentifier=bmc_update.py
Environment="PYTHONUNBUFFERED=1"
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=multi-user.target
