[Unit]
Description=Leak detection warning assert handler for %i

[Service]
Type=oneshot
ExecStart=/usr/libexec/dbus-sensors/warning-leak-assert-handler %i
SyslogIdentifier=%i-warning-leak-assert-handler
