[Unit]
Description=Ampere Computing LLC Host hightemp event start service
Conflicts=obmc-host-stop@%i.target

[Service]
Restart=no
ExecStart=/usr/bin/tempevent_log Hightemp Start
