[Unit]
Description=Create the virtual physical LEDs

[Service]
Restart=always
ExecStart=/usr/libexec/phosphor-led-sysfs/phosphor-ledcontroller -p %f
SyslogIdentifier=obmc-led-create-virtual-leds
