[Unit]
Description=Check Host%i status on BMC reset
# TODO: openbmc/openbmc#1274
#Wants=mapper-wait@-xyz-openbmc_project-control-host%i.service
#After=mapper-wait@-xyz-openbmc_project-control-host%i.service
Wants=obmc-host-reset-running@%i.target
Before=obmc-host-reset-running@%i.target
Wants=op-reset-chassis-on@%i.service
After=op-reset-chassis-on@%i.service
Conflicts=obmc-stop-host@%i.target
ConditionPathExists=/run/openbmc/chassis@%i-on

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/bin/sh -c "echo TODO - Check Host Status on BMC Reset"


[Install]
WantedBy=obmc-host-reset@%i.target
