[Unit]
Description=Phosphor OpenBMC policy management daemon

[Service]
ExecStart=/usr/sbin/obmc-phosphor-policyd

[Install]
WantedBy=multi-user.target
