[Unit]
Description=Wait for %I
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
Type=oneshot
Restart=no
ExecStart={sbindir}/mapper wait %I
