[Unit]
Description=Phosphor OpenBMC DBus service management daemon

[Service]
Restart=always
Type=dbus
ExecStart=/usr/sbin/phosphor-mapper
BusName=org.openbmc.objectmapper

[Install]
WantedBy=multi-user.target
