[Unit]
Description=Reload mboxd during power on
Wants=obmc-power-start-pre@%i.target
Before=obmc-power-start-pre@%i.target
Wants=mapper-wait@-org-openbmc-mboxd.service
After=mapper-wait@-org-openbmc-mboxd.service
Conflicts=obmc-chassis-poweroff@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/env mboxctl --reset
SyslogIdentifier=mboxctl

[Install]
WantedBy=obmc-chassis-poweron@%i.target
