[Unit]
Description=Phosphor MBOX Daemon
Wants=dev-aspeed\x2dlpc\x2dctrl.device
After=dev-aspeed\x2dlpc\x2dctrl.device
Wants=dev-aspeed\x2dmbox.device
After=dev-aspeed\x2dmbox.device


[Service]
Restart=always
ExecStart={sbindir}/mboxd --flash {FLASH_SIZE} --verbose

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
