[Unit]
Description=Temp placeholder for skeleton function

[Service]
Restart=always
ExecStart=/usr/sbin/system_manager.py

[Install]
WantedBy=multi-user.target
