# gBMC uses iproute2
CONFIG_IP=n
CONFIG_NETSTAT=n

# Debugging utilities
CONFIG_LSOF=y
CONFIG_LSUSB=y

# Used for line buffering
CONFIG_SCRIPT=y

# Used by NC-SId
CONFIG_FEATURE_IPV6=y
CONFIG_UDHCPC6=y
CONFIG_FEATURE_UDHCPC6_RFC3646=y
CONFIG_FEATURE_UDHCPC6_RFC4704=y
CONFIG_FEATURE_UDHCPC6_RFC4833=y
CONFIG_FEATURE_UDHCPC6_RFC5970=y
