[Unit]
Description=OpenPOWER OCC controller
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
Wants=obmc-host-reset-running@0.target
After=obmc-host-reset-running@0.target

[Service]
ExecStart=/usr/bin/env openpower-occ-control
SyslogIdentifier=openpower-occ-control
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=multi-user.target
