[Unit]
Description=%i Prochot Deassert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/thermal-event-logger "deassert" "%i"
SyslogIdentifier=%i-prochot-deassert
