[Unit]
Description=Assert Power Good Status

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/run-power-good assert

SyslogIdentifier=run-power-good-assert
