[Unit]
Description=Fru Device
StopWhenUnneeded=true
After=xyz.openbmc_project.CloseMuxes.service dbus.service

[Service]
ExecStart=/usr/bin/fru-device
Type=simple

[Install]
WantedBy=basic.target
