[Unit]
Description=Yosemite4 Early System Init
Before=phosphor-multi-gpio-monitor.service
Before=phosphor-pid-control.service
Before=xyz.openbmc_project.fansensor.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/yosemite4-early-sys-init
SyslogIdentifier=Yosemite4 Early Init

[Install]
WantedBy=multi-user.target
