# Restore any stored calibration for the device
ACTION=="add", KERNEL=="js*", RUN+="/usr/bin/jscal-restore %E{DEVNAME}"

# Set PS3 controller leds to the same value bluez will choose for it.
# IMPORT{parent} used because $parent did not appear to be working; we
# don't need the devpath of the js device for this so it is OK to overwrite.
ACTION=="add", KERNEL=="js*", IMPORT{parent}="DEVPATH", ATTRS{name}=="Sony PLAYSTATION(R)3 Controller", RUN+="/lib/udev/js-set-enum-leds /sys/%E{DEVPATH}/device/leds/ $number"
