[Unit]
Description=Initialize NVIDIA SMA (System Management Agent)
After=xyz.openbmc_project.EntityManager.service
After=mctpd.service
Requires=mctpd.service

[Service]
Type=exec
ExecStart=/usr/libexec/plat-svc/init-sma
SyslogIdentifier=init-sma
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
