[Unit]
Description=Phosphor Host Console SSH socket for Slot4
Wants=obmc-console@ttyS3.service

[Socket]
ListenStream=2203
Accept=yes

[Install]
WantedBy=sockets.target
