[Unit]
Description=Phosphor Host State Manager
Wants=mapper-wait@-org-openbmc-managers-System.service
After=mapper-wait@-org-openbmc-managers-System.service

[Service]
ExecStart={sbindir}/op-host-state-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
