[Unit]
Description=Tiny/Turbo/Throttling Web Server

[Service]
Type=forking
ExecStart=/usr/sbin/thttpd -C @@CONFFILE -c cgi-bin/* -i /run/thttpd.pid
PIDFile=/run/thttpd.pid

[Install]
WantedBy=multi-user.target
