[Unit]
Description=Phosphor DBus Service Discovery Manager
Before=obmc-mapper.target
After=dbus.service

[Service]
Restart=always
Type=dbus
ExecStart=/usr/bin/env mapperx \
        --service-namespaces="${{MAPPER_SERVICES}}" \
        --interface-namespaces="${{MAPPER_INTERFACES}}" \
        --service-blacklists="${{MAPPER_SERVICEBLACKLISTS}}"
SyslogIdentifier=phosphor-mapper
BusName={BUSNAME}
TimeoutStartSec=300
RestartSec=5
EnvironmentFile={envfiledir}/obmc/mapper

[Install]
WantedBy=multi-user.target
