CONFIG_SENSORS_LM75=y
CONFIG_SENSORS_SBTSI=y
CONFIG_I2C_ASPEED=y
CONFIG_SENSORS_ISL68137=y
CONFIG_EEPROM_AT24=y

# Disabled to reduce kernel image size during 6.12 migration
CONFIG_FUNCTION_TRACER=n
CONFIG_DEBUG_LIST=n
CONFIG_DRM=n
CONFIG_DRM_ASPEED_GFX=n
