CONFIG_SENSORS_TMP421=y
CONFIG_SENSORS_MAX31785=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_SENSORS_W83773G=y

# Romulus uses the ColdFire bitbang driver
CONFIG_FSI=y
CONFIG_FSI_MASTER_HUB=y
CONFIG_FSI_MASTER_AST_CF=y
CONFIG_FSI_SCOM=y
CONFIG_FSI_SBEFIFO=y
CONFIG_FSI_OCC=y
CONFIG_I2C_FSI=y

# Disabled to reduce kernel image size during 6.12 migration
CONFIG_FUNCTION_TRACER=n
CONFIG_DEBUG_LIST=n
CONFIG_DRM=n
CONFIG_DRM_ASPEED_GFX=n
