[Unit]
Description=Restore Last State
Wants=obmc-standby-reached.target
After=obmc-standby-reached.target

[Service]
Restart=no
Type=oneshot
ExecStart={sbindir}/discover_system_state.py
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
