[Desktop Entry]
Name=Gnuplot
Comment=Plot data and function graphs
Exec=x-terminal-emulator -e gnuplot
Terminal=false
Type=Application
Icon=gnuplot
Categories=Science;
