SUBSYSTEM=="tty", ATTRS{iomem_base}=="0x1E78E000", ENV{SYSTEMD_WANTS}="obmc-console@ttyS2", TAG+="systemd"

# Slot 0
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.1:1.0", SYMLINK+="ttyUSBdevice0", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice0", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.1:1.1", SYMLINK+="ttyUSBdevice1", SYMLINK+="tty_SITV_0", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice1", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.1:1.2", SYMLINK+="ttyUSBdevice2", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice2", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.1:1.3", SYMLINK+="ttyUSBdevice3", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice3", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.2:1.0", SYMLINK+="ttyUSBdevice4", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice4", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.2:1.1", SYMLINK+="ttyUSBdevice5", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice5", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.2:1.2", SYMLINK+="ttyUSBdevice6", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice6", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.2:1.3", SYMLINK+="ttyUSBdevice7", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice7", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.3:1.0", SYMLINK+="ttyUSBdevice8", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice8", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.3:1.1", SYMLINK+="ttyUSBdevice9", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice9", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.3:1.2", SYMLINK+="ttyUSBdevice10", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice10", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.3:1.3", SYMLINK+="ttyUSBdevice11", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice11", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.4:1.0", SYMLINK+="ttyUSBdevice12", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice12", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.4:1.2", SYMLINK+="ttyUSBdevice13", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice13", TAG+="systemd"

# Slot 2
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.1:1.0", SYMLINK+="ttyUSBdevice14", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice14", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.1:1.1", SYMLINK+="ttyUSBdevice15", SYMLINK+="tty_SITV_2", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice15", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.1:1.2", SYMLINK+="ttyUSBdevice16", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice16", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.1:1.3", SYMLINK+="ttyUSBdevice17", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice17", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.2:1.0", SYMLINK+="ttyUSBdevice18", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice18", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.2:1.1", SYMLINK+="ttyUSBdevice19", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice19", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.2:1.2", SYMLINK+="ttyUSBdevice20", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice20", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.2:1.3", SYMLINK+="ttyUSBdevice21", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice21", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.3:1.0", SYMLINK+="ttyUSBdevice22", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice22", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.3:1.1", SYMLINK+="ttyUSBdevice23", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice23", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.3:1.2", SYMLINK+="ttyUSBdevice24", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice24", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.3:1.3", SYMLINK+="ttyUSBdevice25", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice25", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.4:1.0", SYMLINK+="ttyUSBdevice26", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice26", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.4:1.2", SYMLINK+="ttyUSBdevice27", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice27", TAG+="systemd"

# Slot 1
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.1:1.0", SYMLINK+="ttyUSBdevice28", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice28", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.1:1.1", SYMLINK+="ttyUSBdevice29", SYMLINK+="tty_SITV_1", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice29", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.1:1.2", SYMLINK+="ttyUSBdevice30", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice30", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.1:1.3", SYMLINK+="ttyUSBdevice31", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice31", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.2:1.0", SYMLINK+="ttyUSBdevice32", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice32", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.2:1.1", SYMLINK+="ttyUSBdevice33", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice33", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.2:1.2", SYMLINK+="ttyUSBdevice34", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice34", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.2:1.3", SYMLINK+="ttyUSBdevice35", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice35", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.3:1.0", SYMLINK+="ttyUSBdevice36", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice36", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.3:1.1", SYMLINK+="ttyUSBdevice37", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice37", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.3:1.2", SYMLINK+="ttyUSBdevice38", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice38", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.3:1.3", SYMLINK+="ttyUSBdevice39", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice39", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.4:1.0", SYMLINK+="ttyUSBdevice40", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice40", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.4:1.2", SYMLINK+="ttyUSBdevice41", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice41", TAG+="systemd"

# Slot 3
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.1:1.0", SYMLINK+="ttyUSBdevice42", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice42", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.1:1.1", SYMLINK+="ttyUSBdevice43", SYMLINK+="tty_SITV_3", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice43", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.1:1.2", SYMLINK+="ttyUSBdevice44", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice44", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.1:1.3", SYMLINK+="ttyUSBdevice45", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice45", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.2:1.0", SYMLINK+="ttyUSBdevice46", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice46", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.2:1.1", SYMLINK+="ttyUSBdevice47", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice47", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.2:1.2", SYMLINK+="ttyUSBdevice48", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice48", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.2:1.3", SYMLINK+="ttyUSBdevice49", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice49", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.3:1.0", SYMLINK+="ttyUSBdevice50", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice50", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.3:1.1", SYMLINK+="ttyUSBdevice51", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice51", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.3:1.2", SYMLINK+="ttyUSBdevice52", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice52", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.3:1.3", SYMLINK+="ttyUSBdevice53", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice53", TAG+="systemd"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.4:1.0", SYMLINK+="ttyUSBdevice54", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice54", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.4:1.2", SYMLINK+="ttyUSBdevice55", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice55", TAG+="systemd"

# Rainbow MMC
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.1.2.4:1.1", SYMLINK+="ttyUSBdevice56", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice56", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.2.2.4:1.1", SYMLINK+="ttyUSBdevice57", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice57", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.3.2.4:1.1", SYMLINK+="ttyUSBdevice58", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice58", TAG+="systemd"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_PATH}=="platform-1e6a1000.usb-usb-0:1.4.2.4:1.1", SYMLINK+="ttyUSBdevice59", ENV{SYSTEMD_WANTS}="obmc-console@ttyUSBdevice59", TAG+="systemd"
