[Unit]
Description=Chassis%i (Power On)
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
After=mapper-wait@-xyz-openbmc_project-state-chassis%i.service
Conflicts=obmc-power-chassis-off@%i.target
RefuseManualStop=yes
