[Unit]
Description=Host terminated on %i
Wants=obmc-host-started@%i.target
After=obmc-host-started@%i.target
Conflicts=obmc-host-quiesce@%i.target
Conflicts=obmc-host-shutdown@%i.target
Conflicts=obmc-host-stop@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
