[Unit]
Description=Power%i Host Off
Wants={SYSTEMD_DEFAULT_TARGET}
RefuseManualStop=yes
OnFailure=obmc-quiesce-system@%i.target
OnFailureJobMode=flush