[Unit]
Description=Chassis%i (Reset Check)
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=mapper-wait@-org-openbmc-control-power%i.service
After=mapper-wait@-org-openbmc-control-power%i.service
Conflicts=obmc-power-chassis-off%i.target
RefuseManualStop=yes
