[Unit]
Description=Power%i Off (Pre)
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=obmc-host-stopped@%i.target
After=obmc-host-stopped@%i.target
Conflicts=obmc-chassis-poweron@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
