[Unit]
Description=Power%i On
After=obmc-power-start-pre@%i.target
Wants={SYSTEMD_DEFAULT_TARGET}
Conflicts=obmc-chassis-poweroff@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
