[Unit]
Description=Power%i Off
After=obmc-power-stop-pre@%i.target
Requires={SYSTEMD_DEFAULT_TARGET}
Requires=obmc-led-stop@identify.service
After=obmc-led-stop@identify.service
Conflicts=obmc-power-chassis-on@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
OnFailure=obmc-quiesce-system@%i.target
OnFailureJobMode=flush