[Unit]
Description=Power%i On
After=obmc-power-start-pre@%i.target
Requires={SYSTEMD_DEFAULT_TARGET}
Requires=obmc-led-start@identify.service obmc-max-fans.service
After=obmc-led-start@identify.service obmc-max-fans.service
Conflicts=obmc-power-chassis-off@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
OnFailure=obmc-quiesce-system@%i.target
OnFailureJobMode=flush