[Unit]
Description=Ampere Computing LLC HighTemp Assertion event
StartLimitIntervalSec=0

[Service]
Restart=no
ExecStart=/usr/sbin/ampere_add_redfishevent.sh OpenBMC.0.1.AmpereWarning "CPU%i HighTemp asserted"
