[Unit]
Description=Ampere Computing LLC HighTempt event

[Service]
Restart=no
ExecStart=/usr/sbin/ampere_add_redfishevent.sh OpenBMC.0.1.AmpereWarning "CPU%i HighTemp asserted"
