[Unit]
Description=Load USB gadget schemas
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/gadget-start
ExecStop=/usr/bin/gadget-stop

[Install]
WantedBy=usb-gadget.target
