[Unit]
Description=Power on System in Sled%i by Step Motor
Requires=motor-init-calibration@%i.service
After=motor-init-calibration@%i.service
Requires=host-ac-on@%i.service
After=host-ac-on@%i.service
Conflicts=host-poweroff@%i.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/power-ctrl sled%i boot-from-bootmode
SyslogIdentifier=power-ctrl

