[Unit]
Description=Phosphor Reset Button%i
Wants=mapper-wait@-org-openbmc-managers-System.service
After=mapper-wait@-org-openbmc-managers-System.service

[Service]
Restart=always
ExecStart=/usr/bin/env button_reset.exe
SyslogIdentifier=button_reset.exe
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
