[Unit]
Description=Phosphor OpenBMC policy management daemon

[Service]
Restart=always
ExecStart={sbindir}/obmc-phosphor-policyd

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
