[Unit]
Description=MiNiFi Service
After=network.target
RequiresMountsFor=/var

[Service]
Type=simple
WorkingDirectory=@LOCALSTATEDIR@/lib/minifi
Environment=MINIFI_HOME=@SYSCONFDIR@/minifi
ExecStart=@BINDIR@/minifi

[Install]
WantedBy=multi-user.target
