[Unit]
Description=Setup VLAN 4004
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=sysinit.target shutdown.target systemd-update-done.service
ConditionNeedsUpdate=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setup-vlan4004.sh

[Install]
WantedBy=sysinit.target
