[Unit]
Description=Phosphor certificate manager for %I

[Service]
EnvironmentFile=/usr/share/phosphor-certificate-manager/%I
ExecStart=/usr/bin/env phosphor-certificate-manager --endpoint=${{ENDPOINT}} --path=${{CERTPATH}} --unit=${{UNIT}} --type=${{TYPE}}
SyslogIdentifier=phosphor-certificate-manager
Restart=always

[Install]
WantedBy=multi-user.target
