[Unit]
Description=Phosphor Application Example

[Service]
Restart=always
ExecStart={sbindir}/obmc-phosphor-example-sdbus

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
