# large memory support
CONFIG_VMSPLIT_3G_OPT=y
CONFIG_HAVE_CLK=y
CONFIG_OF=y

# aspeed-adc driver
CONFIG_COMMON_CLK=y
CONFIG_ASPEED_ADC=y

# NCSI
CONFIG_NCSI_OEM_CMD_GET_MAC=y

# devmem
CONFIG_DEVMEM=y

# RTC
CONFIG_RTC_DRV_PCF85363=y

# USB EHCI
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y

# USB UART
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_FTDI_SIO=y

# USB NET
# It is only for SITV BMC testing until the Aegis board is produced.
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
CONFIG_USB_NET_CDC_SUBSET=y

# REGULATOR
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y

# IPMI & IPMB
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_IPMB_DEVICE_INTERFACE=y

# Enable loadable module
CONFIG_MODULES=y

# Aspeed OTP
CONFIG_ASPEED_OTP=y

# Aspeed SGPIO
CONFIG_GPIO_ASPEED_SGPIO=y

# Aspeed PCC
CONFIG_ASPEED_LPC_PCC=y

# Hwmon Sensors
CONFIG_SENSORS_ADS7828=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_GPIO_PCA953X=y
CONFIG_SENSORS_INA233=y
CONFIG_SENSORS_INA238=y
CONFIG_SENSORS_INA2XX=y
CONFIG_SENSORS_ISL68137=y
CONFIG_SENSORS_LTC4286=y
CONFIG_SENSORS_MAX31790=y
CONFIG_SENSORS_MP2856=y
CONFIG_SENSORS_MP2869=y
CONFIG_SENSORS_MP2925=y
CONFIG_SENSORS_MP5990=y
CONFIG_SENSORS_MP9945=y
CONFIG_SENSORS_TDA38640=y
CONFIG_SENSORS_TMP401=y
CONFIG_SENSORS_TPS25990=y
CONFIG_SENSORS_PT5161L=y
CONFIG_SENSORS_XDPE152=y
CONFIG_SENSORS_XDP710=y
CONFIG_RICHTEK_RTQ6056=y

# IIO Sensors
CONFIG_AD5272=y
CONFIG_MCP9600=y

# APML
CONFIG_APML_SBRMI=y
CONFIG_APML_SBTSI=y

# I3C drivers
CONFIG_I3C=y
CONFIG_DW_I3C_MASTER=y
CONFIG_AST2600_I3C_MASTER=y

# SPI GPIO
CONFIG_SPI_GPIO=y

# I2C mqueue for mctp
CONFIG_I2C_SLAVE_MQUEUE=m
CONFIG_I2C_SLAVE_MQUEUE_QUEUE_SIZE=32
CONFIG_I2C_SLAVE_MQUEUE_MESSAGE_SIZE=256

# RTC sensor
CONFIG_RTC_DRV_PCF8563=y
