[Unit]
Description=Disable UCD VCS rails
Wants=obmc-power-start-pre@%i.target
Before=obmc-power-start-pre@%i.target
Conflicts=obmc-chassis-poweroff@%i.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
ExecStart=/usr/bin/env ucd_disable_vcs.sh
SyslogIdentifier=ucd_disable_vcs.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-poweron@%i.target
