[Unit]
Description=Initialize BIOS Flash
Wants=mapper-wait@-org-openbmc-control-flash-bios.service
After=mapper-wait@-org-openbmc-control-flash-bios.service

[Service]
Restart=no
ExecStart=/bin/sh -c "busctl call `mapper get-service /org/openbmc/control/flash/bios` /org/openbmc/control/flash/bios org.openbmc.Flash init"
SyslogIdentifier=obmc-flash-init

[Install]
WantedBy=multi-user.target
