[Unit]
Description=Phosphor Flash Control

[Service]
Restart=always
ExecStart={sbindir}/obmc-phosphor-flashd

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
