[Unit]
Description=Phosphor OpenBMC flash management daemon

[Service]
Restart=always
ExecStart={sbindir}/obmc-phosphor-flashd

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
