[Unit]
Description=System unit to hard reset or system reset chassis for yosemitev2

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=i2cset -f -y 10 0x40 0xd9 c

[Install]
WantedBy=chassis-system-reset.target

