[Unit]
Description=Convert PAM config files

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/convert-pam-configs.sh

[Install]
WantedBy=multi-user.target
