[Unit]
Description=Store read-only images %I to BMC storage
OnFailure=obmc-flash-bmc-ubiro-remove@%i.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStartPre=/usr/bin/env obmc-flash-bmc createenvbackup
ExecStart=/usr/bin/env obmc-flash-bmc ubiro {RO_MTD} rofs-%i %i
ExecStart=/usr/bin/env obmc-flash-bmc ubikernel {KERNEL_MTD} kernel-%i %i
ExecStart=/usr/bin/env obmc-flash-bmc mtduboot u-boot %i
SyslogIdentifier=obmc-flash-bmc
