[Unit]
Description=Remount the ubi volume after a reboot
Wants=xyz.openbmc_project.Software.BMC.Updater.service
Before=xyz.openbmc_project.Software.BMC.Updater.service
Wants=obmc-flash-bmc-setenv@rwreset.service
After=obmc-flash-bmc-setenv@rwreset.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/env obmc-flash-bmc ubiremount
SyslogIdentifier=obmc-flash-bmc

[Install]
WantedBy=multi-user.target
