[Unit]
Description=power off chassis:%i

[Service]
Type=oneshot
ExecStart=/usr/libexec/chassis-poweroff %i

[Install]
WantedBy=obmc-chassis-hard-poweroff@%i.target
