[Unit]
Description=Tinyproxy, Lightweight http(s) proxy daemon
RequiresMountsFor=/var

[Service]
ExecStartPre=/bin/mkdir -p /var/log/tinyproxy
ExecStartPre=/bin/chown -R tinyproxy.nogroup /var/log/tinyproxy
ExecStartPre=/bin/mkdir -p /var/run/tinyproxy
ExecStartPre=/bin/chown -R tinyproxy.nogroup /var/run/tinyproxy
ExecStart=/usr/bin/tinyproxy -d
PIDFile=/var/run/tinyproxy/tinyproxy.pid

[Install]
WantedBy=multi-user.target
