[Unit]
Description=Ampere Computing LLC host shutdown ACK
Requires=phosphor-wait-power-off@%i.service
Before=phosphor-wait-power-off@%i.service
Conflicts=obmc-chassis-poweron@0.target

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/usr/libexec/ampere-hostctrl/ampere_power_util.sh mb shutdown_ack
SyslogIdentifier=ampere_power_util.sh
