[Unit]
Description=LPC Snoop Daemon
After=systemd-modules-load.service

[Service]
Restart=always
ExecStart={sbindir}/snoopd -d "/dev/{SNOOP_DEVICE}" -b "{POST_CODE_BYTES}"

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
