# large memory support
CONFIG_VMSPLIT_3G_OPT=y
CONFIG_HAVE_CLK=y
CONFIG_OF=y

# aspeed-adc driver
CONFIG_COMMON_CLK=y
CONFIG_ASPEED_ADC=y

# NCSI
CONFIG_NCSI_OEM_CMD_GET_MAC=y

# devmem
CONFIG_DEVMEM=y

# RTC
CONFIG_RTC_DRV_NCT3018Y=y

# Fixed Regulator
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y

# USB EHCI
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y

# USB NET
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
CONFIG_USB_NET_CDC_SUBSET=y

# USB HID
CONFIG_HID=y
CONFIG_USB_HID=y
CONFIG_HIDRAW=y
CONFIG_HID_CP2112=y

# USB Serial
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_CP210X=y

# SPI GPIO
CONFIG_SPI_GPIO=y
CONFIG_SPI_BITBANG=y

# IPMI & SSIF
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_SSIF_IPMI_BMC=y

# Aspeed OTP
CONFIG_ASPEED_OTP=y

# GPIO
CONFIG_GPIO_PCA953X=y

# Hwmon Sensors
CONFIG_SENSORS_LM90=y

# I2C Mux
CONFIG_I2C_MUX_PCA954x=y

# Enable loadable module
CONFIG_MODULES=y


