[Match]
Name=eth0
KernelCommandLine=bmcposition=1
[Network]
VLAN=eth0.4004
DHCP=true
LinkLocalAddressing=yes
IPv6AcceptRA=false
Address=10.9.0.2/24
[DHCP]
ClientIdentifier=mac
