[Unit]
Description=Fan Watchdog Reset
Wants=phosphor-fan-monitor-init@0.service
Before=phosphor-fan-monitor-init@0.service
Conflicts=obmc-chassis-poweroff@0.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile={envfiledir}/obmc/fan-watchdog/reset-fan-watchdog.conf
ExecStart=/usr/bin/env phosphor-gpio-util -p ${{GPIO_PATH}} -g ${{GPIO}} -a ${{ACTION}} -d ${{DELAY}}
SyslogIdentifier=phosphor-gpio-util
