[Unit]
Description=Power Cycle by Hotswap Controller
After=gbmc-psu-hardreset.target

[Service]
Type=oneshot
ExecStart= i2cset -f -y 8 0x11 0xd9

[Install]
WantedBy=gbmc-psu-hardreset.target
