[Unit]
Description = Host Power Control Sequence
Wants=ssifbridge.service
After=ssifbridge.service

[Service]
Restart=no
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/libexec/mori-boot/init_once.sh
StandardOutput=syslog

[Install]
WantedBy=sysinit.target
