[Unit]
Description=Reboot If Enabled
Wants=mapper-wait@-org-openbmc-settings-host0.service
After=mapper-wait@-org-openbmc-settings-host0.service

[Service]
Restart=no
Type=oneshot
ExecStart={sbindir}/phosphor-discover-system-state

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
