[Unit]
Description=Phosphor Host State Manager
Before=mapper-wait@-xyz-openbmc_project-state-host.service

[Service]
ExecStart={sbindir}/phosphor-host-state-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
