[Unit]
Description=Phosphor Chassis State Manager
Before=mapper-wait@-xyz-openbmc_project-state-chassis.service

[Service]
ExecStart={sbindir}/phosphor-chassis-state-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
