[Unit]
Description=Phosphor BMC State Manager
Before=mapper-wait@-xyz-openbmc_project-state-bmc.service
Wants=obmc-mapper.target
After=obmc-mapper.target


[Service]
ExecStart=/usr/bin/env phosphor-bmc-state-manager
SyslogIdentifier=phosphor-bmc-state-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
