[Unit]
Description=Detect SAS Cable Manager
Wants=phosphor-gpio-presence@.service
After=phosphor-gpio-presence@.service

[Service]
ExecStart=/usr/bin/detect-sas-cable.sh
StandardOutput=syslog
Type=simple

[Install]
WantedBy=multi-user.target
