[Unit]
Description=irqbalance daemon
After=syslog.target

[Service]
ExecStart=@SBINDIR@/irqbalance --foreground

[Install]
WantedBy=multi-user.target
