[Unit]
Description=UBI health daemon
After=multi-user.target

[Service]
Type=forking
ExecStart=@SBINDIR@/ubihealthd

[Install]
WantedBy=multi-user.target
