[Unit]
Description=Start host%i SBE (pdbg)
Wants=obmc-host-start@%i.target
After=obmc-host-start@%i.target
Wants=obmc-host-started@%i.target
Before=obmc-host-started@%i.target
Wants=obmc-power-on@%i.target
After=obmc-power-on@%i.target
Conflicts=obmc-chassis-stop@%i.target

[Service]
ExecStart={bindir}/start_host.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-start@%i.target
