[Unit]
Description=Phosphor Time Manager daemon
Wants=mapper-wait@-xyz-openbmc_project-time-sync_method.service
After=mapper-wait@-xyz-openbmc_project-time-sync_method.service
Wants=mapper-wait@-xyz-openbmc_project-state-host0.service
After=mapper-wait@-xyz-openbmc_project-state-host0.service

[Service]
Restart=always
ExecStart=/usr/bin/env phosphor-timemanager
SyslogIdentifier=phosphor-timemanager
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=multi-user.target
