[Unit]
Description=Phosphor Chassis Controller

[Service]
Restart=always
ExecStart=/usr/bin/env obmc-phosphor-chassisd
SyslogIdentifier=obmc-phosphor-chassisd

[Install]
WantedBy=multi-user.target
