[Unit]
Description=Settings DBUS Object

[Service]
ExecStart=/usr/sbin/settings_manager.py
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
