[Unit]
Description=Phosphor Watchdog%i

[Service]
Restart=always
ExecStart={sbindir}/host_watchdog.exe
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
