[Unit]
Description=Phosphor Host Console SSH Per-Connection socket
Wants=obmc-console@ttyS2.service

[Socket]
ListenStream=2200
Accept=yes

[Install]
WantedBy=sockets.target