[Unit]
Description=Phosphor Event Manager

[Service]
EnvironmentFile={envfiledir}/obmc/eventd/eventd.conf
Restart=always
ExecStart={sbindir}/phosphor-eventd $OPTIONS
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
