[Unit]
Description=%i Critical Leak Handler

[Service]
Type=oneshot
ExecStart=/usr/libexec/dbus-sensors/critical-leak-handler %i
SyslogIdentifier=%i-critical-leak-handler
