[Unit]
Description=%i Critical deassert Handler

[Service]
Type=oneshot
ExecStart=/usr/libexec/dbus-sensors/deassert-leak-handler %i
SyslogIdentifier=%i-deaasert-leak-handler
