[Unit]
Description=Configure GPIOs for Tiogapass

[Service]
Restart=no
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/sbin/setup_gpio
SyslogIdentifier=setup_gpio
