[Unit]
Description=Stop Host
Requires=host-gpio.service
After=host-gpio.service
Conflicts=obmc-chassis-power-on@0.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/env poweroff.sh
SyslogIdentifier=poweroff.sh

[Install]
WantedBy=obmc-chassis-power-off@0.target
