[Unit]
Description=Stop Power%i
Wants=obmc-power-stop@%i.target
Before=obmc-power-stop@%i.target
Wants=obmc-power-stop-pre@%i.target
After=obmc-power-stop-pre@%i.target
Wants=mapper-wait@-org-openbmc-control-power%i.service
After=mapper-wait@-org-openbmc-control-power%i.service
Conflicts=obmc-chassis-poweron@%i.target

[Service]
RemainAfterExit=yes
ExecStartPre=/bin/sh -c "olympus-reload-sensor.sh 0"
ExecStart=/bin/sh -c "olympus-power-control.sh 0 506 451"
SyslogIdentifier=op-power-stop

[Install]
WantedBy=obmc-host-stop@%i.target
