[Unit]
Description=OpenPower Software Update Manager
Wants=xyz.openbmc_project.Software.Version.service
Before=xyz.openbmc_project.Software.Version.service
Before=mboxd.service
Wants=obmc-flash-bios-ubipatch.service
Before=obmc-flash-bios-ubipatch.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/env openpower-update-manager
SyslogIdentifier=openpower-update-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
