[Unit]
Description=Phosphor IPMI KCS DBus Bridge

[Service]
Restart=always
ExecStart={sbindir}/kcsbridged --d="/dev/{KCS_DEVICE}"
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
