[Unit]
Description=Set Fan to Default Duty as Booting Up
DefaultDependencies=no
ConditionPathExists=/sys/class/hwmon/hwmon5/pwm1

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/fan-default-speed.sh

[Install]
WantedBy=sysinit.target
