[Unit]
Description=Stop Power%i
Wants=obmc-power-stop@%i.target
Before=obmc-power-stop@%i.target
Wants=obmc-power-stop-pre@%i.target
After=obmc-power-stop-pre@%i.target
Wants=mapper-wait@-org-openbmc-control-power%i.service
After=mapper-wait@-org-openbmc-control-power%i.service
Conflicts=obmc-chassis-poweron@%i.target

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "busctl call `mapper get-service /org/openbmc/control/power%i` /org/openbmc/control/power%i org.openbmc.control.Power setPowerState i 0"
SyslogIdentifier=op-power-stop

[Install]
WantedBy=obmc-host-stop@%i.target
