[Unit]
Description=Check Chassis%i pgood on reset
Wants=mapper-wait@-org-openbmc-control-power%i.service
After=mapper-wait@-org-openbmc-control-power%i.service
Wants=obmc-power-reset-on@%i.target
Before=obmc-power-reset-on@%i.target
Conflicts=obmc-power-chassis-off@%i.target

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/bin/sh -c "busctl get-property `mapper get-service /org/openbmc/control/power%i` /org/openbmc/control/power%i org.openbmc.control.Power pgood | sed 's/i\s*[1]/on/' | grep on"


[Install]
WantedBy=obmc-chassis-reset@%i.target
