[Unit]
Description=Wait for Power%i to turn on
Before=obmc-power-on@%i.target obmc-power-start@%i.target 
Wants=obmc-power-start@%i.target mapper-wait@-org-openbmc-control-power%i.service
After=mapper-wait@-org-openbmc-control-power%i.service
Conflicts=obmc-power-chassis-off@%i.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={sbindir}/pgood_wait /org/openbmc/control/power%i on

[Install]
WantedBy=obmc-chassis-start@%i.target
