[Unit]
Description=Wait for %I
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/bin/env mapper wait %I
SyslogIdentifier=mapper
