[Unit]
Description=Disable eSPI bus
BindsTo=gbmc-bare-metal-active@0.target
Before=gbmc-bare-metal-active@0.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/npcm7xx-espi-control -d
ExecStop=/usr/libexec/npcm7xx-espi-control

[Install]
WantedBy=gbmc-bare-metal-active@0.target
