[Unit]
Description=Sync %I
Wants=obmc-read-eeprom@%i.service
After=obmc-read-eeprom@%i.service

[Service]
Restart=no
Type=oneshot
EnvironmentFile={envfiledir}/obmc/sync_inventory_item/%I
ExecStart=/usr/bin/env sync_inventory_items.py -p ${{PROPERTY}} -s $SYNC_TYPE
SyslogIdentifier=sync_inventory_items.py

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
