[Unit]
Description=Phosphor BMC%i Control

[Service]
Restart=always
ExecStart=/usr/bin/env control_bmc.exe
SyslogIdentifier=control_bmc.exe
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=multi-user.target
