[Unit]
Description=DHCP Relay Agent Daemon
After=network.target

[Service]
EnvironmentFile=@SYSCONFDIR@/default/dhcp-relay
ExecStart=@SBINDIR@/dhcrelay -d --no-pid -q $SERVERS

[Install]
WantedBy=multi-user.target
