[Unit]
Description=Phosphor OpenBMC DBus REST daemon
Requires=org.openbmc.ObjectMapper.service
After=org.openbmc.ObjectMapper.service
PartOf=systemd-networkd.service

[Service]
Restart=always
ExecStart=/usr/sbin/obmc-rest
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
