[Unit]
Description=Phosphor OpenBMC DBus REST daemon
Requires=obmc-mapper.service
After=obmc-mapper.service

[Service]
Restart=always
ExecStart=/usr/sbin/obmc-rest
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
