[Unit]
Conflicts=sshd.service
Wants=sshdgenkeys.service

[Socket]
ExecStartPre=@BASE_BINDIR@/mkdir -p /var/run/sshd
ListenStream=22
Accept=yes

[Install]
WantedBy=sockets.target
