[Unit]
Description=RSE postcode monitor (%i)
After=dbus.service
Requires=dbus.service
Before=obmc-host-start-pre@0.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/rse-postcode-monitor.env
EnvironmentFile=-/etc/default/rse-postcode-monitor-%i.env
ExecStart=/usr/libexec/rse-postcode-monitor/rse-postcode-monitor.sh %i

[Install]
WantedBy=obmc-host-start-pre@0.target
