[Unit]
Description=GXP EHCI Owner Reset Service
Wants=start-ipkvm.service
After=start-ipkvm.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/bin/sh -c "udc-reconnect.sh %i"
SyslogIdentifier=host-ehci-owner-reset@%i

