[Unit]
Description=Swampd Margin-based Fan Control Daemon
After=xyz.openbmc_project.Hwmon@-ahb-apb-pwm\x2dfan\x2dcontroller\x40103000.service
After=xyz.openbmc_project.nvme.manager.service

[Service]
Type=simple
ExecStartPre=/usr/bin/fan-table-init.sh
ExecStart=/usr/bin/swampd
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=basic.target
