[Unit]
Description=Enable the AVS bus on VRMs
Wants=vrm-control@%i.service
After=vrm-control@%i.service
Wants=obmc-power-start-pre@%i.target
Before=obmc-power-start-pre@%i.target
Conflicts=obmc-chassis-stop@%i.target

[Service]
ExecStart={bindir}/avsbus-enable.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-start@%i.target
