[Unit]
Description=Perform AVS bus workaround on VRMs
Wants=op-power-start@.service
After=op-power-start@.service
Before=avsbus-disable@%i.service
Conflicts=obmc-chassis-poweroff@%i.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
ExecStart={bindir}/avsbus-workaround.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-poweron@%i.target
