[Unit]
Description=Perform AVS bus workaround on VRMs
Wants=obmc-power-start-pre@%i.target
Before=obmc-power-start-pre@%i.target
Before=avsbus-disable@%i.service
Conflicts=obmc-chassis-stop@%i.target

[Service]
ExecStart={bindir}/avsbus-workaround.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-start@%i.target
