[Desktop Entry]
Name=Media Player
Comment=Basic media player
Icon=multimedia-player
TryExec=gtk-play
Exec=gtk-play
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;AudioVideo;
