[Unit]
Description=Enable FSI
Conflicts=fsi-disable.service
Wants=fsi-scan.service
Before=fsi-scan.service

[Service]
ExecStart=/bin/sh -c "echo 0 > /sys/devices/platform/gpio-fsi/external_mode"
Type=oneshot
RemainAfterExit=yes
