[Unit]
Description=Scan FSI devices
Wants=obmc-power-on@%i.target
After=obmc-power-on@%i.target
Wants=obmc-host-start-pre@%i.target
Before=obmc-host-start-pre@%i.target
Conflicts=obmc-chassis-poweroff@%i.target

[Service]
ExecStart=/usr/bin/env openpower-proc-control scanFSI
SyslogIdentifier=openpower-proc-control

Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-poweron@%i.target
