[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=network.target

[Service]
ExecStartPre=@SBINDIR@/lighttpd -t -f @SYSCONFDIR@/lighttpd.conf
ExecStart=@SBINDIR@/lighttpd -D -f @SYSCONFDIR@/lighttpd.conf
ExecReload=@BASE_BINDIR@/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

