[Unit]
Description=Ampere Ethernet over USB gadget device
After=phosphor-ipmi-host.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ampere_usbnet.sh
ExecStop=/usr/bin/usb-ctrl ecm usbnet off

[Install]
WantedBy=multi-user.target
