[Unit]
Description=Initialize BIOS Flash
Wants=mapper-wait@-org-openbmc-control-flash-bios.service
After=mapper-wait@-org-openbmc-control-flash-bios.service

[Service]
Restart=no
ExecStart=/usr/bin/env mapper call /org/openbmc/control/flash/bios org.openbmc.Flash init
SyslogIdentifier=mapper

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
