[Match]
Property=ID_BUS=usb ID_VENDOR_ID=18d1 ID_MODEL_ID=0232
[Network]
Bridge=gbmcbr
[Bridge]
# USB speeds tend to be better than 100mbit (100 cost) but worse
# than 1gbit (10 cost). Generally around 200mbit.
Cost=85
