[Unit]
Description=Mount SquashFS image pnor-ro-%I
Requires=obmc-flash-bios-ubiattach.service
After=obmc-flash-bios-ubiattach.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart={sbindir}/obmc-flash-bios squashfsmount pnor-ro-%i %i
