[Unit]
Description=Create a ubi volume for pnor patches
Before=mboxd.service
Wants=usr-local.mount
After=usr-local.mount

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/env obmc-flash-bios ubimount pnor-patch
SyslogIdentifier=obmc-flash-bios
