[Unit]
Description=Phosphor Host IPMI
Wants=clear-once.service
After=clear-once.service

[Service]
Restart=always
ExecStart={sbindir}/ipmid

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
