[Unit]
Description=Soft power off of the host

[Service]
Restart=no
Type=oneshot
RemainAfterExit=yes
ExecStart={sbindir}/mapper call /org/openbmc/HostServices org.openbmc.HostServices SoftPowerOff
Conflicts=obmc-chassis-start@%i.target

[Install]
WantedBy=obmc-stop-host@%i.target
