[Unit]
Description=Boot Status LED Manager
After=xyz.openbmc_project.LED.GroupManager.service
Wants=xyz.openbmc_project.LED.GroupManager.service

[Service]
ExecStart=/usr/bin/boot-status-led.sh
StandardOutput=syslog
Type=simple
Restart=yes

[Install]
WantedBy=multi-user.target
