[Unit]
Description=Perform AVS bus workaround on VRMs
Wants=ucd_disable_vcs@%i.service
After=ucd_disable_vcs@%i.service
Before=avsbus-disable@%i.service
Conflicts=obmc-power-chassis-off@%i.target

[Service]
ExecStart={bindir}/avsbus-workaround.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-power-chassis-on@%i.target
