[Unit]
Description=Perform power workarounds on VRMs
Wants=ucd_disable_vcs@%i.service
After=ucd_disable_vcs@%i.service
Before=avsbus-disable@%i.service
Conflicts=obmc-chassis-poweroff@%i.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
ExecStart=/usr/bin/env power-workarounds.sh
SyslogIdentifier=power-workarounds.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-chassis-poweron@%i.target
