[Unit]
Description=Phosphor Chassis State Manager
Wants=mapper-wait@-org-openbmc-managers-System.service
After=mapper-wait@-org-openbmc-managers-System.service
Before=mapper-wait@-xyz-openbmc_project-state-chassis.service

[Service]
ExecStart={sbindir}/phosphor-chassis-state-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
