[Unit]
Description=Start psplash boot splash screen
DefaultDependencies=no
RequiresMountsFor=/run

[Service]
Type=notify
ExecStart=/usr/bin/psplash
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
