[Unit]
Description=Chassis Power Cycle: %i
OnFailure=check-i3c-hub@%i.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-state-manager/chassis-powercycle %i

[Install]
WantedBy=obmc-chassis-powercycle@%i.target
