[Unit]
Description=power off chassis:%i
OnFailure=check-i3c-hub@%i.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-state-manager/chassis-poweroff %i

[Install]
WantedBy=obmc-chassis-hard-poweroff@%i.target
