[Unit]
Description=Host Power Reset: %i
OnFailure=host-powerreset-failure@%i.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-state-manager/host-powerreset %i

[Install]
WantedBy=obmc-host-force-warm-reboot@%i.target
