[Unit]
Description=OpenSSH Per-Connection Daemon
Wants=sshdgenkeys.service
After=sshdgenkeys.service

[Service]
ExecStart=-@SBINDIR@/sshd -i
ExecReload=@BASE_BINDIR@/kill -HUP $MAINPID
StandardInput=socket
StandardError=syslog
KillMode=process
