[Unit]
Description=OpenBMC console daemon

[Service]
ExecStart={sbindir}/obmc-console-server ttyS0
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
