[Unit]
Description=Phosphor Console Muxer socket
Conflicts=obmc-console-ssh.service
Requires=obmc-console.service

[Socket]
ListenStream=2200
Accept=yes

[Install]
WantedBy=sockets.target
