[Unit]
Description=Phosphor Console Muxer
BindTo=dev-ttyVUART0.device
After=dev-ttyVUART0.device

[Service]
ExecStart=/bin/sh -c 'realpath /dev/ttyVUART0 | xargs basename | xargs {sbindir}/obmc-console-server'
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
