[Unit]
Description=Phosphor Console Muxer
ConditionPathExists=/dev/ttyVUART0

[Service]
ExecStart={sbindir}/obmc-console-server ttyVUART0
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
