[Unit]
Description=IBM Log Manager
After=xyz.openbmc_project.Logging.service
BindsTo=xyz.openbmc_project.Logging.service

[Service]
ExecStart=/usr/bin/env ibm-log-manager
SyslogIdentifier=ibm-log-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=xyz.openbmc_project.Logging.service
