[Unit]
Description=enable usb network
After=phosphor-ipmi-host.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/sbin/usb_network.sh'

[Install]
WantedBy=multi-user.target
