[Unit]
Description=Network IPMI daemon
# TODO openbmc/openbmc#2059 - The wants/after below should be based on providers
Wants=mapper-wait@-xyz-openbmc_project-control-host0-boot.service
After=mapper-wait@-xyz-openbmc_project-control-host0-boot.service
Wants=mapper-wait@-xyz-openbmc_project-control-host0-boot-one_time.service
After=mapper-wait@-xyz-openbmc_project-control-host0-boot-one_time.service
Wants=mapper-wait@-xyz-openbmc_project-control-host0-power_restore_policy.service
After=mapper-wait@-xyz-openbmc_project-control-host0-power_restore_policy.service
Wants=mapper-wait@-xyz-openbmc_project-control-host0-restriction_mode.service
After=mapper-wait@-xyz-openbmc_project-control-host0-restriction_mode.service

[Service]
Environment=IPTABLESRULE=/var/lib/iptables_rules
ExecStartPre=/usr/bin/env ipmi-net-firewall.sh
ExecStart=/usr/bin/env netipmid
SyslogIdentifier=netipmid
Restart=always
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi
