[Unit]
Description=Phosphor OpenBMC system management daemon

[Service]
Restart=always
ExecStart=/usr/sbin/obmc-phosphor-sysd

[Install]
WantedBy=multi-user.target
