[Unit]
Description=Apply voltage overrides to VRMs
Wants=avsbus-disable@%i.service
After=avsbus-disable@%i.service
Before=avsbus-enable@%i.service
Conflicts=obmc-power-chassis-off@%i.target

[Service]
ExecStart={bindir}/vrm.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=obmc-power-chassis-on@%i.target
