## In orer to make systemd-pager work well there are a number of busybox less
## features we need to enable.
CONFIG_FEATURE_LESS_DASHCMD=y
CONFIG_FEATURE_LESS_RAW=y
CONFIG_FEATURE_LESS_ENV=y

## These are nice features for users.
CONFIG_FEATURE_LESS_WINCH=y
CONFIG_FEATURE_LESS_ASK_TERMINAL=y
CONFIG_FEATURE_LESS_REGEXP=y
