[Unit]
Description=%i AC Power Good Status Assert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/logging "%i AC power good assert" "BLADE" "%i"
SyslogIdentifier=%i-AC-power-good-assert
