# Identify whether the UART IC is FT4232H (main source) or XR21B1424 (2nd source).
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ENV{UART_IC}="FT4232H"
ATTRS{idVendor}=="04e2", ATTRS{idProduct}=="1424", ENV{UART_IC}="XR21B1424"

# FT4232H #1 is used in the main source (Case 1)
ENV{UART_IC}=="FT4232H", KERNELS=="1-1:1.0", SYMLINK+="ttyRS485-1"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1:1.1", SYMLINK+="ttyRS485-2"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1:1.2", SYMLINK+="ttyRS485-3"

# FT4232H #1 is used in the main source (Case 2)
ENV{UART_IC}=="FT4232H", KERNELS=="2-1:1.0", SYMLINK+="ttyRS485-1"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1:1.1", SYMLINK+="ttyRS485-2"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1:1.2", SYMLINK+="ttyRS485-3"

# FT4232H #1 is used in the main source (Case 3)
ENV{UART_IC}=="FT4232H", KERNELS=="3-1:1.0", SYMLINK+="ttyRS485-1"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1:1.1", SYMLINK+="ttyRS485-2"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1:1.2", SYMLINK+="ttyRS485-3"

# FT4232H #2 is used in the main source (Case 1)
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.1:1.0", SYMLINK+="ttyMETER-3"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.1:1.1", SYMLINK+="ttyMETER-2"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.1:1.2", SYMLINK+="ttyMETER-1"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.1:1.3", SYMLINK+="ttyMETER-0"

# FT4232H #2 is used in the main source (Case 2)
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.1:1.0", SYMLINK+="ttyMETER-3"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.1:1.1", SYMLINK+="ttyMETER-2"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.1:1.2", SYMLINK+="ttyMETER-1"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.1:1.3", SYMLINK+="ttyMETER-0"

# FT4232H #2 is used in the main source (Case 3)
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.1:1.0", SYMLINK+="ttyMETER-3"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.1:1.1", SYMLINK+="ttyMETER-2"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.1:1.2", SYMLINK+="ttyMETER-1"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.1:1.3", SYMLINK+="ttyMETER-0"

# FT4232H #3 is used in the main source (Case 1)
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.2:1.0", SYMLINK+="ttyRS485-6"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.2:1.1", SYMLINK+="ttyRS485-4"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.2:1.2", SYMLINK+="ttyRS485-7"
ENV{UART_IC}=="FT4232H", KERNELS=="1-1.2:1.3", SYMLINK+="ttyRS485-5"

# FT4232H #3 is used in the main source (Case 2)
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.2:1.0", SYMLINK+="ttyRS485-6"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.2:1.1", SYMLINK+="ttyRS485-4"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.2:1.2", SYMLINK+="ttyRS485-7"
ENV{UART_IC}=="FT4232H", KERNELS=="2-1.2:1.3", SYMLINK+="ttyRS485-5"

# FT4232H #3 is used in the main source (Case 3)
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.2:1.0", SYMLINK+="ttyRS485-6"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.2:1.1", SYMLINK+="ttyRS485-4"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.2:1.2", SYMLINK+="ttyRS485-7"
ENV{UART_IC}=="FT4232H", KERNELS=="3-1.2:1.3", SYMLINK+="ttyRS485-5"

# XR21B1424 #1 is used in the 2nd source (Case 1)
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1:1.0", SYMLINK+="ttyRS485-1"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1:1.2", SYMLINK+="ttyRS485-2"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1:1.4", SYMLINK+="ttyRS485-3"

# XR21B1424 #1 is used in the 2nd source (Case 2)
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1:1.0", SYMLINK+="ttyRS485-1"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1:1.2", SYMLINK+="ttyRS485-2"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1:1.4", SYMLINK+="ttyRS485-3"

# XR21B1424 #1 is used in the 2nd source (Case 3)
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1:1.0", SYMLINK+="ttyRS485-1"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1:1.2", SYMLINK+="ttyRS485-2"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1:1.4", SYMLINK+="ttyRS485-3"

# XR21B1424 #2 is used in the 2nd source (Case 1)
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.1:1.0", SYMLINK+="ttyMETER-3"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.1:1.2", SYMLINK+="ttyMETER-2"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.1:1.4", SYMLINK+="ttyMETER-1"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.1:1.6", SYMLINK+="ttyMETER-0"

# XR21B1424 #2 is used in the 2nd source (Case 2)
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.1:1.0", SYMLINK+="ttyMETER-3"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.1:1.2", SYMLINK+="ttyMETER-2"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.1:1.4", SYMLINK+="ttyMETER-1"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.1:1.6", SYMLINK+="ttyMETER-0"

# XR21B1424 #2 is used in the 2nd source (Case 3)
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.1:1.0", SYMLINK+="ttyMETER-3"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.1:1.2", SYMLINK+="ttyMETER-2"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.1:1.4", SYMLINK+="ttyMETER-1"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.1:1.6", SYMLINK+="ttyMETER-0"

# XR21B1424 #3 is used in the 2nd source (Case 1)
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.2:1.0", SYMLINK+="ttyRS485-6"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.2:1.2", SYMLINK+="ttyRS485-4"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.2:1.4", SYMLINK+="ttyRS485-7"
ENV{UART_IC}=="XR21B1424", KERNELS=="1-1.2:1.6", SYMLINK+="ttyRS485-5"

# XR21B1424 #3 is used in the 2nd source (Case 2)
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.2:1.0", SYMLINK+="ttyRS485-6"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.2:1.2", SYMLINK+="ttyRS485-4"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.2:1.4", SYMLINK+="ttyRS485-7"
ENV{UART_IC}=="XR21B1424", KERNELS=="2-1.2:1.6", SYMLINK+="ttyRS485-5"

# XR21B1424 #3 is used in the 2nd source (Case 3)
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.2:1.0", SYMLINK+="ttyRS485-6"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.2:1.2", SYMLINK+="ttyRS485-4"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.2:1.4", SYMLINK+="ttyRS485-7"
ENV{UART_IC}=="XR21B1424", KERNELS=="3-1.2:1.6", SYMLINK+="ttyRS485-5"
