[Unit]
Description=Phosphor Fan Control Daemon
Conflicts=obmc-chassis-poweroff@%i.target

[Service]
Restart=on-failure
ExecStart={sbindir}/phosphor-fan-control --control

[Install]
RequiredBy=obmc-fan-control-ready@%i.target
