[Unit]
Description=Phosphor Fan Control Initialization
Wants=obmc-power-on@%i.target
After=obmc-power-on@%i.target
Conflicts=obmc-chassis-powered-off@%i.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/env phosphor-fan-control --init
SyslogIdentifier=phosphor-fan-control

[Install]
WantedBy=obmc-chassis-poweron@%i.target
