[Unit]
Description=Set Fans to Maximum
Wants=mapper-wait@-org-openbmc-control-fans.service
After=mapper-wait@-org-openbmc-control-fans.service
After=obmc-fan-control.target

[Service]
Type=oneshot
Restart=no
ExecStart=/usr/bin/env mapper call /org/openbmc/control/fans org.openbmc.control.Fans setMax
SyslogIdentifier=mapper
