[Unit]
Description=Phosphor Console Muxer listening on device /dev/%I
BindsTo=dev-%i.device
After=dev-%i.device
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
ExecStart=/usr/sbin/obmc-console-server-setup.sh %i
SyslogIdentifier=obmc-console-server
Restart=always
RestartSec=10
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
