[Unit]
Description=Phosphor Dump core monitor.
ConditionPathExists=/var/lib/systemd/coredump

[Service]
ExecStart=/usr/bin/env phosphor-dump-monitor
SyslogIdentifier=phosphor-dump-monitor
Restart=always

[Install]
WantedBy=multi-user.target
