[Unit]
Description=Phosphor LED Management Daemon

[Service]
Restart=always
ExecStart={sbindir}/led_controller.exe
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
