[Unit]
Description=Thermtrip Assert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/thermal-event-logger DeviceOverOperatingTemperatureFault
SyslogIdentifier=thermtrip-assert
