[Unit]
Description=Host power on assertion
After=device-reinitial.service
Wants=device-reinitial.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/host-power-on

SyslogIdentifier=host-power-on
