[Unit]
Description=%i SMC Deassert
Conflicts=smc-assert-log@%i.timer

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/smc-event-logger "deassert" "%i"
SyslogIdentifier=%i-smc-deassert

