[Unit]
Description=%i Thermal Trip Deassert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/thermal-event-logger DeviceOperatingNormalTemperature %i
SyslogIdentifier=%i-thermaltrip-deassert
