[Unit]
Description=%i Thermaltrip Assert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/thermal-event-logger DeviceOverOperatingTemperatureFault %i
SyslogIdentifier=%i-thermaltrip-assert
