[Unit]
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'shopt -s nullglob; echo /etc/nftables/*.rules | xargs -r -n 1 nft -f'
ExecStop=/bin/bash -c 'nft flush ruleset'

[Install]
WantedBy=multi-user.target
