[Unit]
Description=Phosphor Console Muxer listening on device /dev/%I
BindsTo=dev-%i.device
After=dev-%i.device
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
ExecStartPre=/usr/libexec/obmc-console/kudo_uart_mux_ctrl.sh %i
ExecStart=/usr/sbin/obmc-console-server --config /etc/obmc-console/server.%i.conf %i
SyslogIdentifier=obmc-console-server
Restart=always
RestartSec=10
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
