[Unit]
Description=Assert %i LED
Wants=mapper-wait@-xyz-openbmc_project-led-groups-%i.service
After=mapper-wait@-xyz-openbmc_project-led-groups-%i.service
Conflicts=obmc-led-group-start@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/bin/sh -c "busctl call `mapper get-service /xyz/openbmc_project/led/groups/%i` /xyz/openbmc_project/led/groups/%i org.freedesktop.DBus.Properties Set ssv xyz.openbmc_project.Led.Group Asserted b false"
SyslogIdentifier=obmc-led-group-stop
