[Unit]
Description=Deassert %i LED
Wants=xyz.openbmc_project.LED.GroupManager.service
After=xyz.openbmc_project.LED.GroupManager.service
Conflicts=obmc-led-group-start@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/bin/sh -c "busctl call xyz.openbmc_project.LED.GroupManager /xyz/openbmc_project/led/groups/%i org.freedesktop.DBus.Properties Set ssv xyz.openbmc_project.Led.Group Asserted b false"
SyslogIdentifier=obmc-led-group-stop
