[Unit]
Description=%i Power Good LED Deassert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/frontled "%i" "power good LED" "deassert"
SyslogIdentifier=%i-power-good-led-deassert
