[Unit]
Description=%i Assert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/logging "%i assert" "AALC" "%i"
SyslogIdentifier=rpu-ready-assert
