[Unit]
Description=HPM power fault log

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/hpm-power-fault "%i"
SyslogIdentifier=hpm-power-fault
