[Unit]
Description=BGP routing daemon
BindTo=zebra.service
After=zebra.service
ConditionPathExists=@SYSCONFDIR@/quagga/bgpd.conf

[Service]
Type=forking
EnvironmentFile=-@SYSCONFDIR@/default/quagga
PIDFile=/run/quagga/bgpd.pid
ExecStart=@SBINDIR@/bgpd -d $bgpd_options -f @SYSCONFDIR@/quagga/bgpd.conf
ExecStopPost=@base_bindir@/rm -rf /run/quagga/bgpd.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
