[Unit]
Description=Wait for Power%i to turn on
Wants=obmc-power-start-pre@%i.target
After=obmc-power-start-pre@%i.target
Wants=obmc-power-start@%i.target
Before=obmc-power-start@%i.target
Wants=mapper-wait@-org-openbmc-control-power%i.service
After=mapper-wait@-org-openbmc-control-power%i.service
Conflicts=obmc-chassis-poweroff@%i.target
ConditionPathExists=!/run/openbmc/chassis@%i-on

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/env pgood_wait /org/openbmc/control/power%i on
SyslogIdentifier=pgood_wait
TimeoutSec=30

[Install]
WantedBy=obmc-host-start@%i.target
