[Unit]
Description=Phosphor Network

[Service]
ExecStart={sbindir}/netman.py
Environment="PYTHONUNBUFFERED=1"
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
