[Unit]
Description=Dovecot IMAP/POP3 email server
After=local-fs.target network.target

[Service]
Type=simple
EnvironmentFile=-@SYSCONFDIR@/sysconfig/dovecot
ExecStart=@SBINDIR@/dovecot -F
ExecReload=/bin/kill -HUP $MAINPID
NonBlocking=yes

[Install]
WantedBy=multi-user.target

