*.pyc
*.pyo
*~
pyshtables.py
/doc/manual/html/
**/bitbake-builds/
/build/
/bin/bitbakec
*.swp
tags
*.sqlite
venv/
doc/bitbake-user-manual/bitbake-user-manual.html
doc/bitbake-user-manual/bitbake-user-manual.pdf
doc/bitbake-user-manual/bitbake-user-manual.tgz
lib/toaster/contrib/tts/backlog.txt
lib/toaster/contrib/tts/log/*
lib/toaster/contrib/tts/.cache/*
lib/bb/tests/runqueue-tests/bitbake-cookerdaemon.log
