[Unit]
SourcePath=/usr/sbin/tayga
Description=LSB: userspace NAT64

[Service]
Type=forking
ExecStart=/usr/sbin/tayga -d --config /etc/tayga.conf
RemainAfterExit=yes
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
