[Unit]
Description=OpenPOWER debug data collector for host checkstop
Before=obmc-host-quiesce@%i.target

[Service]
ExecStart={sbindir}/checkstop_app
Type=oneshot
Restart=no
