[Unit]
Description=OpenPOWER debug data collector for host watchdog timeout
Before=obmc-host-quiesce@%i.target

[Service]
ExecStart={sbindir}/watchdog_timeout
Type=oneshot
Restart=no
