[Unit]
Description=Firmware Version Daemon

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/libexec/mori-fw/mori-fw-ver.sh

[Install]
WantedBy=multi-user.target
