[Unit]
Description=Start up the GB200Nvl hardware
Before=xyz.openbmc_project.FruDevice.service

[Service]
Type=notify
ExecStart=/usr/libexec/platform-init
SyslogIdentifier=gb200nvl-platform-init
TimeoutStartSec=500

[Install]
WantedBy=multi-user.target
