[Unit]
Description=Phosphor Inverse ARP

[Service]
ExecStart=/usr/bin/env inarp
SyslogIdentifier=inarp
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
