[Unit]
Description=Phosphor OpenBMC chassis management daemon

[Service]
Restart=always
ExecStart=/usr/sbin/obmc-phosphor-chassisd

[Install]
WantedBy=multi-user.target
